body {
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-img {
  background-image: url("../img/header_img.png");
  min-height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.name {
  max-width: 350px;
}
.name h1 {
  font-size: 2.5rem;
  color: #f9ff21;
}
.img-container img {
  max-width: 200px;
}
main {
  min-height: calc(100vh - 100px) !important;
}
section {
  background-color: rgba(255, 255, 255, 0.8);
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.skill {
  font-family: "Dancing Script", cursive;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  font-weight: bolder;
  text-shadow: 0.4rem 0.1rem 0.4rem;
}
.main-skill-box,
.other-skill-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
  grid-gap: 0.1rem;
  overflow-x: auto;
  white-space: nowrap;
}

.skill-card img {
  width: 7rem;
}
.skill-card {
  margin: 0.8rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.3rem 0.1rem 0.8rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  width: 150px;
  height: 200px;
}
.skill-title {
  margin: 1rem 0.5rem 1rem 0.5rem;
}
.skill-card:hover {
  cursor: pointer;
}
.cv-aside {
  background-color: rgb(164, 158, 158);
}
.image-box img {
  max-width: 150px;
  border-radius: 50%;
}
.cv-title {
  text-decoration: underline;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.card {
  min-width: 250px;
  max-width: 300px;
  border: 1px solid gray !important;
  border-radius: 10px !important;
}

footer span {
  color: white;
}
footer a {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .header-img {
    min-height: 100px;
    max-height: 200px;
  }
  .name {
    margin-left: -10;
  }
}
