body{
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.header-img{
background-image: url("../img/header_img.png");
min-height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.name{
  max-width: 350px;
}
.name h1{
  font-size: 2.5rem;
  color: #f9ff21
}
.img-container img{
  max-width: 200px;
}
main {
	min-height: calc(100vh - 100px) !important;
}
section {
  background-color: rgba(255, 255, 255, 0.8);
}
.text-justify{
  text-align: justify;
  text-justify: inter-word;
}
.skill{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  font-weight: bolder;
  text-shadow: .4rem .1rem .4rem;
}
.skill-box{
  display: grid;
  grid-template-columns: auto auto auto auto auto  ;
  margin: .1rem;  
}
.skill-card img{
  width: 7rem;
}
.skill-card{
  margin: .8rem;
  text-align: center;
  background-color: rgba(255, 255, 255, .6);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.3rem 0.1rem 0.8rem rgba(0, 0, 0, .8);
  border-radius: .5rem;
  width: 150px;
  height: 200px;
}
.skill-title{
  margin: 1rem .5rem 1rem .5rem;
}
.skill-card:hover{
cursor: pointer;
}
.cv-aside{
  background-color: rgb(164, 158, 158);
}
.image-box img{
  max-width: 150px;
  border-radius: 50%;
}
.cv-title {
  text-decoration: underline;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.card{
  min-width: 250px;
  max-width: 300px;
  border: 1px solid gray !important;
  border-radius: 10px !important;
}


footer span {
  color: white
}
footer a {
  text-decoration: none;
}
@media screen and (max-width:600px) {
  .header-img{
    min-height: 100px;
    max-height: 200px;
  }
  .name {
    
    margin-left: -10;
    
  }
}

@media only screen and (max-width: 1050px) {
  .skill-box{
    display: grid;
    grid-template-columns: auto auto;
    margin: .1rem;
  }

}

@media only screen and (max-width:380px) {
  .skill-box{
    display: grid;
    grid-template-columns: auto ;
    margin: .1rem;
  }

}